<style>
    .list .item.item-accordion 
    {
          line-height: 38px;
          padding-top: 0;
          padding-bottom: 0;
          transition: 0.09s all linear;
    }
    .list .item.item-accordion.ng-hide {
        line-height: 0px;
    }
    .list .item.item-accordion.ng-hide-add,
    .list .item.item-accordion.ng-hide-remove {
        display: block !important;
    }
</style>  
<script>

</script>
<ion-view title="Events" id="page3">
    <ion-content padding="true" class="has-header">
        <button id="events-button2" class="button button-balanced  button-block button-outline">Add Event</button>
        <div id="events-button-bar1" class="button-bar">
        </div>
            <div class="list">
                <div class="list card" id="events-card24" ng-repeat="event in events">
                        <ion-item class="item-icon-right" id="events-list-item41" ng-click="toggleEvent(event)" ng-class="{active: isEventShown(event)}">
                            <i class="icon ion-edit"></i>{{event.subject}}
                        </ion-item>
                <div class="item item-body"  id="events-list-item-container12">
                    <div  class="item-accordion" id="events-container4">
                        <ion-list id="events-list9" ng-show="isEventShown(event)">
                            <ion-item class="item-icon-left" id="events-list-item43">
                            <p>Start Date</p>
                                <i class="icon No Icon"></i>{{convert(event.start_date)}}</ion-item>
                            <ion-item class="item-icon-left" id="events-list-item46">
                            <p>End Date</p>
                                <i class="icon No Icon"></i>{{convert(event.end_date)}}</ion-item>
                            <ion-item class="item-icon-left" id="events-list-item46">
                            <p>Due Date</p>
                                <i class="icon No Icon"></i>{{convert(event._date)}}</ion-item>
                            <ion-item class="item-icon-left" id="events-list-item47">
                            <p>Priority</p>
                                <i class="icon No Icon"></i>{{event.priority}}</ion-item>
                            <ion-item class="item-icon-left" id="events-list-item48" ui-sref="menu.matter">
                            <p>Matter</p>
                                <i class="icon No Icon"></i>{{event.related_to_matter_id}}</ion-item>
                            <ion-item class="item-icon-left" id="events-list-item49">
                            <p>Status</p>
                                <i class="icon No Icon"></i>{{event.status}}</ion-item>
                            <ion-item class="item-icon-left" id="events-list-item55">
                            <p>Type</p>
                                <i class="icon No Icon"></i>{{event.type}}</ion-item>
                        </ion-list>
                    </div>
                </div>
                </div>
            </div>
    </ion-content>
</ion-view>

