<style>
    .list .item.item-accordion 
    {
          line-height: 38px;
          padding-top: 0;
          padding-bottom: 0;
          transition: 0.09s all linear;
    }
    .list .item.item-accordion.ng-hide {
        line-height: 0px;
    }
    .list .item.item-accordion.ng-hide-add,
    .list .item.item-accordion.ng-hide-remove {
        display: block !important;
    }
</style>  
<script>

</script>
<ion-view title="Matters" id="page3">
    <ion-content padding="true" class="has-header">
        <button id="matters-button2" class="button button-balanced button-block button-outline">Add Matter</button>
        <div id="matters-button-bar1" class="button-bar">
        </div>

        <div class="list">
            <div class="list card" id="matters-card24" ng-repeat="matter in matters">
                <ion-item class="item-icon-right" id="matters-list-item41" ng-click="toggleMatter(matter)" ng-class="{active: isMatterShown(matter)}">
                    <i class="icon ion-chevron-right" ui-sref="menu.matter({item: matter['$id']})"></i>{{matter.title}}
                </ion-item>
                <div class="item item-body"  id="matters-list-item-container12">
                    <div  class="item-accordion" id="matters-container4">
                        <ion-list id="matters-list9" ng-show="isMatterShown(matter)">
                            <ion-item class="item-icon-left" id="matters-list-item43">
                            <p>Law Firm Name</p>
                                <i class="icon No Icon"></i>{{matter.lawfirm_name}}</ion-item>
                            <ion-item class="item-icon-left" id="matters-list-item43">
                            <p>Created Date</p>
                                <i class="icon No Icon"></i>{{matter.created_date}}</ion-item>
                            <ion-item class="item-icon-left" id="matters-list-item46">
                            <p>Budget Type</p>
                                <i class="icon No Icon"></i>{{matter.budget_type}}</ion-item>
                            <ion-item class="item-icon-left" id="matters-list-item47">
                            <p>Matter Type</p>
                                <i class="icon No Icon"></i>{{matter.type}}</ion-item>
                            
                            <ion-item class="item-icon-left" id="matters-list-item49">
                            <p>Matter Status</p>
                                <i class="icon No Icon"></i>{{matter.status}}</ion-item>        
                            <ion-item class="item-icon-left" id="matters-list-item46">
                            <button class="button button-positive button-block ic-selected">Notes</button>
                            </ion-item>
                        </ion-list>
                    </div>
                </div>
                </div>
            </div>
    </ion-content>
</ion-view>
