<ion-view title="Matter's Notes" id="page4">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="matterSNotes-card22" ng-repeat="note in notes">
            <ion-item id="matterSNotes-list-item62">{{note.title}}</ion-item>
            <div class="item item-body" id="matterSNotes-list-item-container19">
                <div id="matterSNotes-container5">
                    <form id="matterSNotes-form4" class="list">
                        <label class="item item-input" id="matterSNotes-textarea1">
                         	<textarea placeholder="">{{note.body}}</textarea>
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>


